<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/table"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ toolbarTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outlined"
                  (click)="shufflePlayers()">
        <ion-icon slot="icon-only"
                  name="repeat"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]=true>
  <ion-list class="cards-list with-fixed-element">

    <div class="sticky-top">
      <div class="d-flex">
        <ion-item *ngIf="(host$ | async)"
                  lines="none">
          <ion-avatar slot="start">
            <img [src]="(host$ | async)?.user?.avatar ? (host$ | async).user.avatar : defaultAvatar">
          </ion-avatar>
          <ion-label>
            <h3>{{ (host$ | async)?.nickname }}</h3>
            <p>{{ hostTitle }}</p>
          </ion-label>
          <ion-icon slot="end"
                    name="swap-vertical"
                    color="medium"
                    (click)="presentHostModal()"></ion-icon>
        </ion-item>

        <ion-item class="add-new"
                  *ngIf="!(host$ | async)"
                  lines="none">
          <ion-icon slot="start"
                    name="add"
                    color="primary"></ion-icon>
          <ion-label color="primary">{{ setHostText }}</ion-label>
        </ion-item>

        <div class="sticky-button-container">
          <ion-label *ngIf="(players$ | async)?.length + (!!(host$ | async) ? 1 : 0) < 11"
                     color="primary">{{ (players$ | async).length + (!!(host$ | async) ? 1 : 0) }}/11</ion-label>

          <ion-button *ngIf="(players$ | async)?.length + (!!(host$ | async) ? 1 : 0) === 11"
                      fill="outlined"
                      size="large">
            <ion-icon slot="icon-only"
                      name="play"
                      color="primary"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="app-divider"></div>
    </div>

    <ion-item *ngFor="let player of (players$ | async); let i = index"
              lines="none">
      <ion-avatar class="with-badge"
                  slot="start">
        <ion-badge class="avatar-badge">{{ i + 1 }}</ion-badge>
        <img [src]="player.user?.avatar ? player.user?.avatar : defaultAvatar">
      </ion-avatar>
      <ion-label>
        <h3>{{ player.nickname }}</h3>
        <p>{{ player.isGuest ? guestText : authorizedUserText }}</p>
      </ion-label>
      <ion-icon slot="end"
                name="close"
                color="medium"
                (click)="removePlayer(player)"></ion-icon>
    </ion-item>
    <ion-item *ngIf="(players$ | async)?.length < 10"
              class="add-new"
              lines="none"
              (click)="presentPlayerModal()">
      <ion-icon slot="start"
                name="add"
                color="primary"></ion-icon>
      <ion-label color="primary">{{ addNewPlayerText }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>