<div class="player-controls">
  <ion-slides #numberSlider
              *ngIf="(isPlayerControlsOpened$ | async)"
              [options]="numberSliderConfig">
    <ion-slide *ngFor="let player of players">
      <app-manage-player-card [playerId]="player.user.id"
                              [showFalls]="showFalls"
                              [showRole]="showRoles"
                              [showProposedPlayer]="showProposedPlayers"></app-manage-player-card>
    </ion-slide>
  </ion-slides>
  <div *ngIf="(isPlayerControlsOpened$ | async)"
       class="toggle-controls">
    <ion-button size="small"
                shape="round"
                class="toggle-controls-button close"
                (click)="toggleControlsVisibility()">
      <ion-icon slot="icon-only"
                size="small"
                name="chevron-up"></ion-icon>
    </ion-button>
  </div>
  <div *ngIf="(isPlayerControlsOpened$ | async)"
       class="app-divider"></div>
  <div *ngIf="!(isPlayerControlsOpened$ | async)"
       class="toggle-controls">
    <ion-button size="small"
                shape="round"
                class="toggle-controls-button open"
                (click)="toggleControlsVisibility()">
      <ion-icon slot="icon-only"
                size="small"
                name="chevron-down"></ion-icon>
    </ion-button>
  </div>
</div>