.mafia-hunt {
  position: relative;

  .center-item {
    height: 90%;
    overflow: initial;

    .mafia-cards-container {
      position: absolute;
      left: -5%;
      bottom: -20%;

      width: 110%;
      display: flex;
      justify-content: space-between;
    }
  }
}
