# compiled output
/dist
/node_modules

# Logs
logs
*.log

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# firebase secret
service-account*
.firebase/**.cache