<ion-content>
  <div class="grid-content-center">
    <ion-button *ngIf="(isGameStarted$ | async)"
                shape="round"
                routerLink="game"
                routerDirection="forward">
      {{ "TABS.TABLE.continue" | translate }}
    </ion-button>
    <ion-button *ngIf="!(isGameStarted$ | async)"
                shape="round"
                routerLink="preparation"
                routerDirection="forward"
                (click)="resetGameState()">
      {{ "TABS.TABLE.newGame" | translate }}
    </ion-button>
  </div>
</ion-content>