@import "~src/theme/variables.scss";

.vote-stage {
  .player-card {
    height: 100%;
    min-width: unset;
  }

  .proposed-player-clip {
    font-size: 0.7rem;
  }

  .controls-block {
    height: 100%;

    &__buttons {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
}
