<!-- Add new player button-->
<ion-item *ngIf="(players$ | async)?.length < 10"
          class="add-new"
          lines="none"
          (click)="presentPlayerModal()">
  <ion-icon slot="start"
            name="add"
            color="primary"></ion-icon>
  <ion-label color="primary">{{ addNewPlayerText }}</ion-label>
</ion-item>
<!-- END Add new player button-->

<ion-item *ngFor="let player of (players$ | async); let i = index"
          lines="none">

  <div slot="start">
    <div class="clip-button top-left text-only background-color-primary text-color-dark-contrast">
      {{ i + 1 }}
    </div>
    <ion-avatar>
      <img [src]="player.user?.avatar ? player.user?.avatar : defaultAvatar">
    </ion-avatar>
  </div>

  <ion-label>
    <h3>{{ player.nickname }}</h3>
    <p>{{ player.isGuest ? guestText : authorizedUserText }}</p>
  </ion-label>
  <ion-icon slot="end"
            name="close"
            color="medium"
            (click)="removePlayer(player)"></ion-icon>
</ion-item>