<ion-header>
  <ion-toolbar>
    <ion-title>{{ dayText }} {{ (days$ | async).length }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outlined">
        <ion-icon slot="icon-only"
                  color="primary"
                  name="moon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #numberSlider
              class="number-slider"
              [options]="numberSliderConfig">

    <ion-slide *ngFor="let player of players">
      <app-manage-player-card [playerId]="player.user.id"></app-manage-player-card>
    </ion-slide>

  </ion-slides>

  <ion-slides #playerSlider
              class="player-slider"
              [options]="playerSliderConfig">

    <ion-slide *ngFor="let player of players">
      <app-player-timer [playerId]="player.user.id"
                        (speechEnd)="endSpeech($event)"></app-player-timer>
    </ion-slide>
  </ion-slides>
</ion-content>