<ion-header>
  <ion-toolbar>
    <ion-title>{{ dayText }} {{ (days$ | async).length - 1 }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outlined">
        <ion-icon slot="icon-only"
                  color="primary"
                  name="moon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #numberSlider
              [options]="numberSliderConfig">

    <ion-slide *ngFor="let player of (players$ | async); let i = index">
      <app-small-player-card (click)="navigateToSlide(i)"
                             [player]="player"></app-small-player-card>
    </ion-slide>

  </ion-slides>

  <ion-slides #playerSlider
              class="playerSlider"
              [options]="playerSliderConfig">

    <ion-slide *ngFor="let player of (players$ | async)">
      <app-player-timer [player]="player"
                        (speechEnd)="endSpeech($event)"></app-player-timer>
    </ion-slide>
  </ion-slides>
</ion-content>