.give-roles {
  .role-card {
    height: 100%;

    &__content {
      font-size: 1.4rem;
      font-weight: bold;
      
      &.role-hidden {
        font-size: 0.8rem;
      }
    }
  }

  .show-all-roles-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  ion-card {
    margin: 0;
  }
}
