<app-portal selector="#game-buttons-outlet">
  <ion-button (click)="endDay()">
    <ion-label color="primary">
      {{ "TABS.TABLE.GAME.DAY.proceedToVote" | translate }}
    </ion-label>
    <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
  </ion-button>
</app-portal>

<ion-slides #playerSlider [options]="playerSliderConfig">
  <ng-container *ngFor="let player of players$ | async">
    <ion-slide
      *ngIf="quitPhases$ | async as quitPhases"
      [hidden]="(isQuittedHidden$ | async) && !!quitPhases[player.uid]"
    >
      <app-player-timer
        [playerId]="player.uid"
        (speechEnd)="endSpeech($event)"
      ></app-player-timer>
    </ion-slide>
  </ng-container>
</ion-slides>
