<app-table-template class="mafia-hunt">
  <app-small-player-card *ngFor="let player of (players$ | async)"
                         [slot]="player.number"
                         [playerId]="player.user.id"
                         (click)="navigateToPlayer(player.number)">
    <div *ngIf="(victimsMap$ | async).get(player.user.id)?.length"
         slot="clips">
      <div class="victim-clip clip-button top-right text-only background-color-danger text-color-dark-contrast">
        {{ (victimsMap$ | async).get(player.user.id)?.length }}
      </div>
    </div>
  </app-small-player-card>

  <ion-card slot="center"
            class="center-item center-card">
    <ion-card-header class="player-card__header">
      <div class="clip-button top-left text-only background-color-primary text-color-dark-contrast">
        {{ players[currentPlayerIndex].number }}
      </div>
      <ion-card-title class="player-card__header__title text-color-dark">
        {{ players[currentPlayerIndex].nickname }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="player-card__content">
      <ion-avatar class="player-card__avatar">
        <img [src]="players[currentPlayerIndex].user?.avatar || defaultAvatar">
      </ion-avatar>
    </ion-card-content>

    <div class="mafia-cards-container">
      <app-small-player-card *ngFor="let mafiaPlayer of mafia"
                             showTeam="true"
                             [playerId]="mafiaPlayer.user.id"
                             (click)="shootPlayer(mafiaPlayer.user.id)">
        <div slot="overlay"
             *ngIf="(shots$ | async).get(mafiaPlayer.user.id)"
             class="full-parent-overlay grid-content-center"
             [ngClass]="(shots$ | async).get(mafiaPlayer.user.id) === players[currentPlayerIndex].user.id ? 'background-color-danger' : 'background-color-medium'">
          <ion-icon name="checkmark"></ion-icon>
        </div>
      </app-small-player-card>
    </div>
  </ion-card>

  <div slot="under"
       class="grid-content-center">
    <ion-button size="large"
                [disabled]="(shots$ | async).size !== 3"
                (click)="next()">
      {{ 'TABS.TABLE.GAME.NIGHT.MAFIA_HUNTS.nextStageButton' | translate }}
    </ion-button>
  </div>
</app-table-template>