.mafia-hunt {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .victim-clip {
    font-size: 0.7rem;
  }

  .center-item {
    height: 90%;
    overflow: initial;

    .mafia-cards-container {
      position: absolute;
      left: -5%;
      bottom: -15%;

      width: 110%;
      display: flex;
      justify-content: space-between;

      app-small-player-card {
        --card-margin: 0px;
      }
    }
  }
}
