<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ "TABS.TABLE.GAME.NIGHT.toolbarTitle" | translate }}
      {{ (rounds$ | async)?.length }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="nextStage()">
        <ion-label color="primary">{{ nextStageButtonText }}</ion-label>
        <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="night-content">
    <app-player-controls></app-player-controls>
    <div class="modal-content">
      <ng-container [ngSwitch]="stage">
        <ng-container *ngSwitchCase="NightStages.MAFIA">
          <div
            *ngIf="roundNumber === 0; then giveRolesBlock; else mafiaHuntBlock"
          ></div>

          <ng-template #giveRolesBlock>
            <app-give-roles></app-give-roles>
          </ng-template>

          <ng-template #mafiaHuntBlock>
            <app-mafia-hunt (nextClick)="nextStage()"></app-mafia-hunt>
          </ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="NightStages.DON">
          <app-don></app-don>
        </ng-container>

        <ng-container *ngSwitchCase="NightStages.SHERIFF">
          <app-sheriff></app-sheriff>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ion-content>
