<div class="additional-speech">
  <ion-slides #playerSlider
              [options]="playerSliderConfig">
    <ion-slide *ngFor="let player of leaders">
      <ion-card class="player-card">
        <ion-card-header class="player-card__header">
          <div class="clip-button top-left text-only text-color-dark-contrast"
               [ngClass]="timers.get(player.user.id)?.isSpeechEnded ? 'background-color-medium': 'background-color-primary'">
            {{ player?.number }}
          </div>
          <ion-card-title class="player-card__header__title text-color-dark">{{ player?.nickname }}</ion-card-title>
        </ion-card-header>

        <ion-card-content class="player-card__content">
          <div class="progress-container">
            <round-progress class="progress-circle"
                            (click)="timers.get(player.user.id).switchTimer()"
                            [ngStyle]="{ backgroundImage: 'url(' + (player?.user.avatar || defaultAvatar) + ')' }"
                            [current]="timers.get(player.user.id)?.time"
                            [max]="maxTime"
                            [color]="colors[getTimeColor(player.user.id)]"
                            [rounded]="true"
                            [responsive]="true"
                            [duration]="500">
            </round-progress>
            <ion-badge class="progress-badge"
                       [color]="getTimeColor(player.user.id)">
              {{ timers.get(player.user.id)?.time }}
            </ion-badge>
          </div>

          <ion-buttons class="player-card__actions">
            <ion-button (click)="endPlayerSpeech(player.user.id)"
                        [disabled]="timers.get(player.user.id)?.isSpeechEnded">
              <ion-icon slot="icon-only"
                        name="time"
                        [color]="timers.get(player.user.id)?.isSpeechEnded ? 'medium' : 'primary'">
              </ion-icon>
            </ion-button>

          </ion-buttons>
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>
</div>