<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{ 'TABS.searchTitle' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clubs">
      <ion-icon name="people"></ion-icon>
      <ion-label>{{ 'TABS.clubsTitle' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="table">
      <ion-icon name="play"></ion-icon>
      <ion-label>{{ 'TABS.tableTitle' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'TABS.profileTitle' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>