.mafia-hunt {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .victim-clip {
    font-size: 0.7rem;
  }

  .mafia-cards-container {
    position: absolute;
    left: -4%;
    bottom: -8%;
    z-index: 1;

    width: 108%;
    display: flex;
    justify-content: space-around;

    app-small-player-card {
      --card-margin: 0px;
    }
  }
}
