<form
  class="app-form"
  [formGroup]="clubForm"
  (ngSubmit)="createClub()"
  (keydown)="submitOnEnterKey($event)"
>
  <h2
    class="app-form__title"
    [ngClass]="{ 'text-color-danger': !!errorMessage }"
  >
    {{ formTitle }}
  </h2>
  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="medium">Название*</ion-label>
      <ion-input
        formControlName="title"
        inputmode="text"
        type="text"
        data-cy="title-input"
      ></ion-input>
    </ion-item>
    <div class="app-form__error-container">
      <small class="text-color-danger" *ngIf="title.touched">
        <ng-container *ngIf="title.errors?.required">
          Название - это обязательное поле
        </ng-container>
        <ng-container *ngIf="title.errors?.pattern">
          Название не должно включать специальных символов
        </ng-container>
        <ng-container *ngIf="title.errors?.minlength">
          Название должно быть не менее {{ title.errors?.minlength.requiredLength }} символов
        </ng-container>
        <ng-container *ngIf="title.errors?.maxlength">
          Название должно быть не более {{ title.errors?.maxlength.requiredLength }} символов
        </ng-container>
      </small>
    </div>

    <ion-item>
      <ion-label position="stacked" color="medium">Город</ion-label>
      <ion-input
        formControlName="location"
        inputmode="text"
        type="text"
        data-cy="location-input"
      ></ion-input>
    </ion-item>
    <div class="app-form__error-container">
      <small class="text-color-danger" *ngIf="location.touched">
        <ng-container *ngIf="location.errors?.minlength">
          Город должен быть не менее {{ location.errors?.minlength.requiredLength }} символов
        </ng-container>
        <ng-container *ngIf="location.errors?.maxlength">
          Город должен быть не более {{ location.errors?.maxlength.requiredLength }} символов
        </ng-container>
      </small>
    </div>
  </ion-list>

  <ion-button
    type="submit"
    expand="block"
    shape="round"
    [disabled]="clubForm.invalid"
  >
    Создать
  </ion-button>
</form>
