<ion-card class="small-card"
          *ngIf="player"
          [ngClass]="(showRole || showTeam) && ((player.role === Role.MAFIA) || (player.role === Role.DON)) ? 'background-color-dark' : ''">
  <div *ngIf="showRole && ((player.role === Role.DON) || (player.role === Role.SHERIFF))"
       class="clip-button top-left"
       [ngClass]="(player.role === Role.DON) ? 'background-color-danger' : 'background-color-warning'">
    <ion-icon class="text-color-dark-contrast"
              [name]="(player.role === Role.DON) ? 'rose': 'star'"></ion-icon>
  </div>
  <div *ngIf="showFalls && player.falls"
       class="clip-button top-right text-only background-color-danger text-color-dark-contrast">
    {{ player.falls }}
  </div>

  <ion-card-content>{{ player.number }}</ion-card-content>

  <div *ngIf="isOverlayVisible"
       class="full-parent-overlay grid-content-center">
    <span class="text-color-medium">{{ computedOverlayText }}</span>
  </div>
</ion-card>