@import "~src/global.scss"; // to enable global styles in encapsulated component

:host {
  --card-margin: var(--app-default-card-margin);
}

.small-card {
  margin: var(--card-margin);

  .full-parent-overlay span {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
