@import "./custom-variables.scss";
@import "./variables.scss";

// Small card
ion-card.small-card {
  position: relative;
  display: grid;
  place-content: center;

  width: 12.8vmin;
  max-width: 60px;
  height: 19vmin;
  max-height: 90px;
  margin-left: 0;
  margin-right: 0;

  ion-card-content {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

// Cards list

ion-list.cards-list {
  .clip-button {
    font-size: 0.8rem;
  }

  ion-item {
    margin: 8px;
    border-radius: var(--app-border-radius);
    box-shadow: var(--app-box-shadow);

    ion-label {
      padding: 8px 0;
    }
  }

  ion-item.add-new {
    padding: 0;
    border: var(--app-border-width) solid var(--ion-color-primary);
    box-shadow: unset;
  }

  ion-label h3 {
    font-weight: bold;
    color: var(--ion-color-dark-tint);
  }
}

// Large player card
ion-card.large-card {
  min-width: 59.5vmin;
  max-width: 59.5vmin;
  height: 80vmin;
}

.player-card {
  position: relative;
  min-width: 59.5vmin;
  max-width: 59.5vmin;

  &__header {
    text-align: center;
    padding-bottom: 0;

    &__title {
      font-size: 1.2rem;
    }
  }

  &__avatar {
    width: 100%;
    height: auto;

    padding: 16px;
  }
}
