<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="game-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ 'TABS.TABLE.GAME.DAY.toolbarTitle' | translate }} {{ (days$ | async).length }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="endDay()">
        <ion-label color="primary">{{ 'TABS.TABLE.GAME.DAY.proceedToVote' | translate }}</ion-label>
        <ion-icon color="primary"
                  name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-player-controls [showProposedPlayers]="true"
                       [currentPlayerNumber]="controlSliderPlayerNumber"></app-player-controls>

  <ion-slides #playerSlider
              class="player-slider"
              [options]="playerSliderConfig">
    <ion-slide *ngFor="let player of players">
      <app-player-timer [playerId]="player.user.id"
                        (speechEnd)="endSpeech($event)"></app-player-timer>
    </ion-slide>
  </ion-slides>
</ion-content>