<ion-content class="saturated no-scroll">
  <div class="auth-page h100">
    <div class="hero-block">
      <div class="square-avatar">
        <ion-img src="assets/icon/favicon.png"></ion-img>
      </div>
      <h2 class="hero-block__title">
        <span>Добро пожаловать!</span>
        <span>Consigliere к вашим услугам</span>
      </h2>
    </div>
    <div class="auth-page__buttons-container">
      <ion-button color="dark" shape="round" routerLink="login">
        Вход
      </ion-button>
      <ion-button color="light" shape="round" routerLink="register">
        Регистрация
      </ion-button>
    </div>
  </div>
</ion-content>
