@import "~src/theme/custom-variables.scss";
@import "~src/theme/variables.scss";

.card-container {
  position: relative;
  min-width: 59.5vmin;
  max-width: 59.5vmin;
  margin: 36px 0;

  .player-card {
    margin: 0;

    &__header {
      text-align: center;
      padding-bottom: 0;

      &__title {
        font-size: 1.2rem;
      }
    }

    .full-parent-overlay span {
      font-size: 5rem;
      font-weight: bold;
    }
  }

  .proposed-player-card {
    position: absolute;
    bottom: -30px;
  }
}
