@import "~src/theme/custom-variables.scss";
@import "~src/theme/variables.scss";

.card-container {
  position: relative;
  min-width: 59.5vmin;
  max-width: 59.5vmin;

  .player-card {
    margin-bottom: 40px;

    &__header {
      text-align: center;
      padding-bottom: 0;

      &__title {
        font-size: 1.2rem;
      }
    }

    &__content {
      padding-top: 13px;
    }

    .progress-container {
      position: relative;
      padding-bottom: 24px;

      .progress-circle {
        background-size: contain;
        border-radius: 100%;
      }

      .progress-badge {
        position: absolute;
        left: 70%;
        top: 70%;

        min-width: 12.8px;
        padding: 4px 8px;
        font-size: 1.8rem;
      }
    }
    .full-parent-overlay span {
      font-size: 5rem;
      font-weight: bold;
    }
  }

  .proposed-player-card {
    position: absolute;
    bottom: -30px;
    left: 12px;
  }
}
