<div *ngIf="player" class="card-container">
  <ion-card class="player-card">
    <ion-card-header class="player-card__header">
      <div class="clip-button top-left text-only text-color-dark-contrast"
           [ngClass]="timer?.isSpeechEnded ? 'background-color-medium': 'background-color-primary'">
        {{ player?.number }}
      </div>
      <ion-card-title class="player-card__header__title text-color-dark">{{ player?.nickname }}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="player-card__content">
      <div class="progress-container">
        <round-progress class="progress-circle"
                        (click)="switchTimer()"
                        [ngStyle]="{ 'background-image' : 'url(' + playerAvatar + ')' }"
                        [current]="timer?.time"
                        [max]="time"
                        [color]="colors[timeColor]"
                        [rounded]="true"
                        [responsive]="true"
                        [duration]="500">
        </round-progress>
        <ion-badge class="progress-badge"
                   [color]="timeColor">
          {{ timer?.time }}
        </ion-badge>
      </div>

      <ion-buttons class="ion-justify-content-between">
        <ion-button (click)="proposePlayer()"
                    [disabled]="timer?.isSpeechEnded || !!(proposedPlayer$ | async) || (isNextVotingDisabled$ | async)">
          <ion-icon slot="icon-only"
                    name="thumbs-up"
                    [color]="timer?.isSpeechEnded ? 'medium' : 'primary'">
          </ion-icon>
        </ion-button>

        <ion-button (click)="endPlayerSpeech()"
                    [disabled]="timer?.isSpeechEnded">
          <ion-icon slot="icon-only"
                    name="time"
                    [color]="timer?.isSpeechEnded ? 'medium' : 'primary'">
          </ion-icon>
        </ion-button>

      </ion-buttons>
    </ion-card-content>

    <div *ngIf="player?.quitPhase"
         class="full-parent-overlay grid-content-center">
      <span class="text-color-medium">{{ quitPhase }}</span>
    </div>
  </ion-card>

  <ion-card #proposedPlayerCard
            @fadeSlide
            *ngIf="(proposedPlayer$ | async)"
            class="proposed-player-card small-card background-color-medium"
            (click)="withdrawPlayer()">
    <ion-card-content class="text-color-dark-contrast">{{ (proposedPlayer$ | async).number }}</ion-card-content>
  </ion-card>
</div>