<ion-list>
  <ion-item
    button
    lines="none"
    class="refresh-option"
    (click)="chooseOption(PlayerControlsAction.REFRESH)"
  >
    {{ refreshText }}
  </ion-item>
  <ion-item
    button
    lines="none"
    class="assign-fall-option"
    [disabled]="playerQuitPhase"
    (click)="chooseOption(PlayerControlsAction.FALL)"
  >
    {{ fallText }}
  </ion-item>
  <ion-item
    button
    lines="none"
    class="kick-option"
    [disabled]="playerQuitPhase"
    (click)="chooseOption(PlayerControlsAction.KICK)"
  >
    {{ kickText }}
  </ion-item>
</ion-list>
