<ion-list>
  <ion-item
    button
    lines="none"
    class="refresh-option"
    (click)="chooseOption('refresh')"
  >
    {{ refreshText }}
  </ion-item>
  <ion-item
    button
    lines="none"
    class="assign-fall-option"
    [disabled]="playerQuitPhase"
    (click)="chooseOption('fall')"
  >
    {{ fallText }}
  </ion-item>
  <ion-item
    button
    lines="none"
    class="kick-option"
    [disabled]="playerQuitPhase"
    (click)="chooseOption('kick')"
  >
    {{ kickText }}
  </ion-item>
</ion-list>
