<div class="additional-speech">
  <ion-slides #playerSlider [options]="playerSliderConfig">
    <ion-slide *ngFor="let player of leaders">
      <ion-card class="player-card">
        <ion-card-header class="player-card__header">
          <div
            class="clip-button top-left text-only text-color-dark-contrast"
            [ngClass]="
              timers.get(player.user.uid)?.isSpeechEnded
                ? 'background-color-medium'
                : 'background-color-primary'
            "
          >
            {{ player?.number }}
          </div>
          <ion-card-title class="player-card__header__title text-color-dark">
            {{ player?.nickname }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content class="player-card__content">
          <div class="progress">
            <round-progress
              class="progress__circle"
              (click)="timers.get(player.user.uid).switchTimer()"
              [ngStyle]="{
                backgroundImage:
                  'url(' + (player?.user.avatar || defaultAvatar) + ')'
              }"
              [current]="timers.get(player.user.uid)?.time"
              [max]="maxTime"
              [color]="colors[getTimeColor(player.user.uid)]"
              [rounded]="true"
              [responsive]="true"
              [duration]="500"
            >
            </round-progress>
            <ion-badge
              class="progress__badge"
              [color]="getTimeColor(player.user.uid)"
            >
              {{ timers.get(player.user.uid)?.time }}
            </ion-badge>
          </div>

          <ion-buttons class="player-card__actions">
            <ion-button
              (click)="endPlayerSpeech(player.user.uid)"
              [disabled]="timers.get(player.user.uid)?.isSpeechEnded"
            >
              <ion-icon
                slot="icon-only"
                name="time"
                [color]="
                  timers.get(player.user.uid)?.isSpeechEnded
                    ? 'medium'
                    : 'primary'
                "
              >
              </ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
