<ion-content class="no-scroll">
  <div class="profile-page h100">
    <ion-header>
      <ion-button fill="clear" (click)="logout()">
        <ion-icon
          color="light"
          slot="icon-only"
          name="exit-outline"
          (click)="logout()"
        ></ion-icon>
      </ion-button>
    </ion-header>

    <div class="hero-block">
      <div class="square-avatar">
        <img [src]="(user$ | async)?.avatar || defaultAvatar" />
      </div>
      <h2 class="hero-block__title">
        {{ (user$ | async)?.nickname }}
      </h2>
    </div>

    <div class="app-form">
      <ion-list class="games-list cards-list">
        <ion-list-header>Игры</ion-list-header>

        <ion-item lines="none">
          <div slot="start">
            <ion-avatar>
              <img src="assets/icon/favicon.png" />
            </ion-avatar>
          </div>

          <ion-label>
            <h3>{{ "lol" }}</h3>
            <p>{{ "lol" }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
