<ion-content class="no-scroll">
  <div class="profile-page h100">
    <ion-header>
      <ion-button fill="clear" (click)="logout()">
        <ion-icon
          slot="icon-only"
          name="exit-outline"
          (click)="logout()"
        ></ion-icon>
      </ion-button>
    </ion-header>

    <div class="hero-block">
      <div class="square-avatar">
        <img [src]="(user$ | async)?.avatar || defaultAvatar" />
      </div>
      <h2 class="hero-block__title">
        {{ (user$ | async)?.nickname }}
      </h2>
    </div>

    <div class="app-form"></div>
  </div>
</ion-content>
