@import "./custom-variables.scss";

.saturated {
  background-color: var(--app-color-saturated);
  color: var(--app-color-saturated-contrast);
  --background: var(--app-color-saturated);
  --color: var(--app-color-saturated-contrast);
}

.light {
  background-color: var(--app-color-light);
  color: var(--app-color-light-contrast);
  --background: var(--app-color-light);
  --color: var(--app-color-light-contrast);
}
