@import "./custom-variables.scss";

.saturated {
  background-color: var(--app-color-saturated) !important;
  color: var(--app-color-saturated-contrast) !important;
  --background: var(--app-color-saturated) !important;
  --color: var(--app-color-saturated-contrast) !important;
}

.light {
  background-color: var(--app-color-light) !important;
  color: var(--app-color-light-contrast) !important;
  --background: var(--app-color-light) !important;
  --color: var(--app-color-light-contrast) !important;
}
