@import "./custom-variables.scss";
@import "./variables.scss";

.round-slide {
  padding: 32px;
  border-radius: 32px 32px 0 0;
  background-color: var(--app-color-saturated-contrast);
  box-shadow: var(--app-box-shadow);
  color: var(--ion-color-dark);
}
