<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="game-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ 'TABS.TABLE.GAME.VOTE.toolbarTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vote">
    <app-player-controls></app-player-controls>

    <div class="vote__content"
         [ngSwitch]="votePhase$ | async">
      <ng-container *ngSwitchCase="VotePhase.VOTE">
        <app-vote-stage></app-vote-stage>
      </ng-container>

      <ng-container *ngSwitchCase="VotePhase.SPEECH">
        <app-additional-speech></app-additional-speech>
      </ng-container>

      <ng-container *ngSwitchCase="VotePhase.RESULT">
        <app-vote-results></app-vote-results>
      </ng-container>
    </div>
  </div>
</ion-content>