<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ "TABS.TABLE.GAME.VOTE.toolbarTitle" | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="nextStage()">
        <ion-label color="primary">
          {{ "TABS.TABLE.GAME.VOTE.nextButton" | translate }}
        </ion-label>
        <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vote">
    <app-player-controls></app-player-controls>

    <div class="vote__content" [ngSwitch]="votePhase$ | async">
      <ng-container *ngSwitchCase="VotePhase.VOTE">
        <app-vote-stage></app-vote-stage>
      </ng-container>

      <ng-container *ngSwitchCase="VotePhase.SPEECH">
        <app-additional-speech></app-additional-speech>
      </ng-container>

      <ng-container *ngSwitchCase="VotePhase.ELIMINATE_VOTE">
        <app-eliminate-all-vote></app-eliminate-all-vote>
      </ng-container>

      <ng-container *ngSwitchCase="VotePhase.RESULT">
        <app-vote-results></app-vote-results>
      </ng-container>
    </div>
  </div>
</ion-content>
