<app-portal selector="#game-buttons-outlet">
  <ion-button (click)="nextStage()">
    <ion-label color="primary">
      {{ "TABS.TABLE.GAME.VOTE.nextButton" | translate }}
    </ion-label>
    <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
  </ion-button>
</app-portal>

<ng-container [ngSwitch]="votePhase$ | async">
  <app-vote-stage *ngSwitchCase="VotePhase.VOTE"></app-vote-stage>
  <app-additional-speech
    *ngSwitchCase="VotePhase.SPEECH"
  ></app-additional-speech>
  <app-eliminate-all-vote
    *ngSwitchCase="VotePhase.ELIMINATE_VOTE"
  ></app-eliminate-all-vote>
  <app-vote-results *ngSwitchCase="VotePhase.RESULT"></app-vote-results>
</ng-container>
