<ion-header>
  <ion-toolbar>
    <ion-title>{{ toolbarTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outlined"
                  (click)="nextStage()">
        <ion-icon slot="icon-only"
                  color="primary"
                  [name]="stage === 2 ? 'sunny' : 'arrow-forward'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-content">
    <div *ngIf="stage === 0; then rolesBlock else sheriffAndDonBlock"></div>
  </div>

  <ng-template #rolesBlock>
    <ion-slides #roleSlider
                [options]="roleSliderConfig">
      <ion-slide *ngFor="let player of (players$ | async)"
                 (click)="nextSlide()">
        <ion-card class="role-card large-card">
          <div class="clip-button top-left text-only text-color-dark-contrast background-color-primary">
            {{ player.number }}
          </div>
          <ion-card-content class="grid-content-center role-card__content">
            {{ player.role }}
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ng-template>

  <ng-template #sheriffAndDonBlock>
    <ion-card class="large-card">

      <div class="clip-button top-left background-color-primary">
        <ion-icon class="text-color-dark-contrast"
                  [name]="stage === 1 ? 'rose' : 'star'"></ion-icon>
      </div>

      <ion-card-header class="player-card__header">
        <ion-card-title class="player-card__header__title text-color-dark">
          {{ stage === 1 ? don.nickname : sheriff.nickname }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="progress-container">
          <round-progress class="progress-circle"
                          (click)="switchTimer()"
                          [ngStyle]="{ 'background-image' : 'url(' + playerAvatar + ')' }"
                          [current]="roundedTime"
                          [max]="10"
                          [color]="colors['primary']"
                          [rounded]="true"
                          [responsive]="true"
                          [duration]="500">
          </round-progress>
          <ion-badge class="progress-badge"
                     color="primary">
            {{ roundedTime }}
          </ion-badge>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-template>


</ion-content>