<div>
  <app-table-template>
    <app-small-player-card
      *ngFor="let player of players$ | async"
      [slot]="player.number"
      [playerId]="player.user.uid"
      [disabled]="(quitPhases$ | async)?.has(player.user.uid)"
      (cardClick)="switchVote(player.user.uid)"
    >
      <div
        *ngIf="(eliminateAllVote$ | async)?.has(player.user.uid)"
        slot="overlay"
        class="full-parent-overlay grid-content-center background-color-danger"
      >
        <ion-icon name="thumbs-up"></ion-icon>
      </div>
    </app-small-player-card>

    <div slot="center" class="votes-number-card-container">
      <ion-card
        slot="center"
        class="votes-number-card grid-content-center"
        [class.text-color-danger]="
          (eliminateAllVote$ | async)?.size > (players$ | async)?.length / 2
        "
      >
        <span>{{ (eliminateAllVote$ | async)?.size }}</span>
      </ion-card>
    </div>

    <div slot="under" class="grid-content-center">
      <ion-button size="large" (click)="endEliminateVote()">
        {{ "TABS.TABLE.GAME.VOTE.VOTE_STAGE.endVote" | translate }}
      </ion-button>
    </div>
  </app-table-template>
</div>
